@media (max-width:851px) {
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
        display: flex;
    }
    .header-banner{
        /* height: 580px; */
        background-position: center;
    }
    .header-banner__content{
        width: 100%;
    }